
@{
    ViewData["Title"] = "GetAverageMPGByYear";
}

<h1>Get Average MPG By Year</h1>

<table class="table table-striped table-dark">
    <tr>
        <td>Year</td>
        <td>Average MPG</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
          <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }

</table>


